@use '../../shared/styles/utils.scss';

body {
  display: block;
  align-content: center;
}

main {
  width: 100%;
  max-width: 50rem;
  margin: 4.3rem auto 2rem;
  padding: 0 1rem 1rem 1rem;
  flex: 1;
}

header.overview {
  @include utils.vertical-center;
}
