// https://sass-lang.com/documentation/at-rules/use --sass is so cool

.focus {
  border: solid 1px rgb(143, 143, 143);
}

.pushRight {
  margin-left: auto;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin vertical-center {
  display: flex;
  align-items: center;
}
